body,
html {
  margin: 0;
  padding: 0;
}
.header {
  width: 122px;
  height: 71px;
  background: #fff;
}
.header .header_wrap {
  width: 1522px;
  height: 65px;
  background: #fff;
  margin-top: 3px;
}
.header .header_wrap .logo {
  width: 240px;
  height: 65px;
  background: #fff;
  margin: 3px 50px 3px 176px;
  float: left;
}
.header .header_wrap .logo .logo_container {
  margin-top: 4px;
  width: 240px;
  height: 40px;
}
.header .header_wrap .header_container {
  width: 825px;
  height: 41.6px;
  margin: 14px 160px 0 0 ;
  float: right;
}
.header .header_wrap .header_container .header_container_nav {
  margin-top: -1px;
}
.header .header_wrap .header_container .header_container_nav li:first-child {
  margin: 0 40px 0 -20px;
}
.header .header_wrap .header_container .header_container_nav li:first-child span {
  font-weight: bold;
}
.header .header_wrap .header_container .header_container_nav li:first-child span img {
  vertical-align: text-bottom;
}
.header .header_wrap .header_container .header_container_nav li {
  float: left;
  list-style: none;
  padding: 8px 0;
}
.header .header_wrap .header_container .header_container_nav li a {
  text-decoration: none;
  font-weight: bold;
  margin: 10px 15px;
}
.header .header_wrap .header_container .header_container_nav li:last-child a {
  color: white;
  background-color: #fb474f;
  padding: 5px 6px;
  border-radius: 5px;
}
.wrap {
  position: relative;
  width: 1522px;
  height: 420px;
  background: #3333;
  /*.banner_wrap{
    position: absolute;
    width: 180px;
    height: 420px;
    left: 190px;
    background: #808080;
    z-index:5;
    >ul{
      position: absolute;
      color: white;
      li{
        list-style: none;
        display: block;
        width: 1522px;
        height: 42px;
        a{
          text-decoration: none;
          display: block;
          width: 180px;
          height: 42px;
          color: white;
          i{
            font-style: normal;
            font-weight: bold;
            color: #fff;
          }
          //隐藏的内容框
          ul{
            display: none;
          }
        }
      }

    }
  }*/
}
.wrap .swiper-container {
  position: absolute;
  width: 1522px;
  height: 420px;
}
.container_list {
  width: 1522px;
}
.container_list .container_list_wrap:nth-child(odd) {
  background: #FBF8F8;
}
.container_list .container_list_wrap {
  width: 100%;
  height: 516px;
}
.container_list .container_list_wrap .list_wrap_inner {
  position: relative;
  width: 1200px;
  height: 496px;
  margin: 0 auto;
}
.container_list .container_list_wrap .list_wrap_inner .inner_tittle {
  display: block;
  padding-top: 50px;
  text-align: center;
  color: #3d3838;
  font-weight: 800;
  font-size: 28px;
  font-family: "Microsoft YaHei";
}
.container_list .container_list_wrap .list_wrap_inner .work_list {
  text-align: center;
  padding-top: 10px;
}
.container_list .container_list_wrap .list_wrap_inner .work_list > a {
  font-size: 22px;
  font-family: "幼圆";
  text-decoration: none;
  color: #3d3838;
}
.container_list .container_list_wrap .list_wrap_inner .list_server {
  transform: translateY(-23px);
  float: right;
  font-size: 18px;
  font-family: "幼圆";
}
.container_list .container_list_wrap .list_wrap_inner .inner_container {
  width: 100%;
  height: 375px;
}
.container_list .container_list_wrap .list_wrap_inner .inner_container .pic_list {
  position: absolute;
  width: 100%;
  height: 345px;
  bottom: 0;
}
.container_list .container_list_wrap .list_wrap_inner .inner_container .pic_list > a {
  display: block;
  float: left;
  margin: 0 5px;
  text-decoration: none;
}
.container_list .container_list_wrap .list_wrap_inner .inner_container .pic_list > a .pic_list_col {
  border: 1px solid #3333;
  box-sizing: border-box;
  background: #fff;
  padding: 10px;
  width: 230px;
  height: 345px;
  text-align: center;
}
.container_list .container_list_wrap .list_wrap_inner .inner_container .pic_list > a .pic_list_col img {
  width: 210px;
  height: 210px;
}
.container_list .container_list_wrap .list_wrap_inner .inner_container .pic_list > a .pic_list_col .serviceName {
  font-size: 16px;
  padding: 8px 0  0  0;
  font-weight: 800;
  color: #000;
  height: 28px;
  width: 101%;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.container_list .container_list_wrap .list_wrap_inner .inner_container .pic_list > a .pic_list_col .description {
  color: #929292;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 13px;
  line-height: 18px;
  height: 58px;
}
.container_list .container_list_wrap .list_wrap_inner .inner_container .pic_list > a .pic_list_col .server_price {
  transform: translateY(-15px);
  margin-left: -40px;
  font-size: 14px;
  padding: 5px 5px;
  font-weight: 600;
  height: 20px;
  line-height: 20px;
  color: #fb474f;
}
.container_list .container_list_wrap .list_wrap_inner .inner_container .pic_list > a .pic_list_col .server_price > span:first-child {
  font-size: 20px;
}
.container_list .container_list_wrap .list_wrap_inner .inner_container .pic_list > a .pic_list_col .server_price > span:last-child {
  float: right;
  padding: 0;
  width: 76px;
  height: 24px;
  line-height: 22px;
  text-align: center;
  background: #fb474f;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
}
.container_list .container_list_wrap .list_wrap_inner > h2 {
  line-height: 85px;
  width: 1200px;
  margin: 0 auto;
  font-size: 18px;
}
.container_list .server_title {
  width: 1200px;
  height: 84px;
  margin: 0 auto;
  background: gold;
}
.container_list .server_title > h2 {
  line-height: 84px;
  margin: 0;
  font-size: 18px;
}
.container_list .server_center {
  width: 1200px;
  height: 85px;
  margin: 0 auto;
}
.footer {
  position: relative;
  width: 1522px;
}
.footer .ensure {
  width: 100%;
  height: 147px;
  text-align: center;
  bottom: 0;
}
.footer .ensure > h2 {
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 10px;
  transform: translateY(70px);
}
.footer .ensure > h2 > i {
  font-style: normal;
  color: #fb474f;
}
.footer .ensure > p {
  font-size: 22px;
  color: #3d3838;
  margin: 0;
  transform: translateY(70px);
}
.footer .server_check {
  width: 100%;
  height: 66px;
  text-align: center;
}
.footer .server_check .server_check_list {
  transform: translateY(20px);
  height: 46px;
}
.footer .server_check .server_check_list > span {
  padding: 0 20px;
  color: #1d1515;
  font-size: 18px;
}
.footer .server_check .server_check_list > span > img {
  vertical-align: bottom;
}
.footer .city_server {
  position: relative;
  width: 100%;
  height: 170px;
}
.footer .city_server .city {
  position: absolute;
  width: 1200px;
  height: 90px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.footer .city_server .city .city_title {
  width: 74px;
  height: 26px;
  background: #fff;
  float: left;
  font-family: " 微软雅黑";
  font-size: 18px;
  font-weight: 700;
}
.footer .city_server .city .city_title:hover {
  background: #23527c;
}
.footer .city_server .city .city_option {
  width: 1078px;
  height: 90px;
  float: right;
  font-size: 16px;
  color: #898989;
  text-align: center;
  font-weight: 200;
  cursor: pointer;
  font-family: "微软雅黑";
}
.footer .city_server .city .city_option > span {
  line-height: 29px;
  display: inline-block;
  width: 98px;
  height: 29px;
  background-color: white;
  float: left;
  margin-bottom: 1px;
}
.footer .city_server .city .city_option > span:hover {
  background: #337ab7;
}
.buchong {
  width: 1522px;
  background: #FBF8F8;
}
.buchong .partner {
  width: 1200px;
  margin: 0 auto;
}
.buchong .partner .partner_pic {
  width: 1200px;
  height: 60px;
}
.buchong .partner .partner_pic > span {
  position: relative;
  float: left;
  display: block;
  width: 120px;
  height: 60px;
  background: #fff;
  text-align: center;
}
.buchong .partner .partner_pic > span.partner_pic_first ~ span {
  margin-left: 15px;
}
.buchong .partner .partner_pic > span img {
  position: absolute;
  width: 100px;
  height: 47px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.buchong .partner > p:first-child {
  line-height: 40px;
  font-weight: bold;
  width: 1200px;
  height: 40px;
  color: #1d1515;
  font-size: 18px;
}
.buchong .beian {
  width: 1200px;
  font-size: 14px;
  margin: 0 auto;
  line-height: 40px;
  color: #898989;
}
.buchong .beian > p {
  margin: 0;
}
