body, html{
  margin: 0;
  padding:0;
}
//头部
.header{
  width: 122px;
  height: 71px;
  background: #fff;
  .header_wrap{
    width: 1522px;
    height: 65px;
    background: #fff;
    margin-top: 3px;
    .logo{
      width: 240px;
      height: 65px;
      background: #fff;
      margin: 3px 50px 3px 176px;
      float: left;
      .logo_container{
        margin-top: 4px;
        width: 240px;
        height: 40px;
      }
    }
    .header_container{
      width: 825px;
      height: 41.6px;
      margin: 14px 160px 0 0 ;
      float: right;
      .header_container_nav{
        margin-top: -1px;
        li:first-child{
          margin:0 40px 0 -20px;
          span{
            img{
              vertical-align:text-bottom;
            }
            font-weight: bold;
          }
        }
        li{
          float: left;
          list-style: none;
          padding: 8px 0;
          a{
            text-decoration: none;
            //color: #000;
            font-weight: bold;
            margin: 10px 15px;
          }
        }
        li:last-child{
          a{
            color: white;
            background-color: #fb474f;
            padding: 5px 6px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

//内容区
.home_server{
  margin-top: 20px;
  width: 1522px;
  background: #FBF8F8;
  .gap{
    width: 100%;
    height: 30px;
    background: #f8f8f8;
  }
  .home_server_header{
    width:1200px;
    height: 140px;
    //overflow: hidden;
    background: darkgrey;
    margin: 0 auto;
    .home_header_left{
      width: 540px;
      height: 140px;
      //background: firebrick;
      float: left;
      .home_header_inner{
        position: relative;
        width: 522px;
        height: 120px;
        //background: darkgrey;
        margin: 20px 0 0 18px;
        .home_header_title{
          position: absolute;
          left: 0px;
          bottom: 30px;
          //float: left;
          font-size: 36px;
          font-weight: 700;
          //background: darkcyan;
          //line-height: 140px;
        }
        .home_header_time{
          position: absolute;
          right: 0px;
          bottom: 34px;
          //background: darkkhaki;
          float: right;
          i,em{
            font-style: normal;
          }
          i{
            color: #929292;
          }
          em:first-child{
            color: #121212;;
          }
          em:last-child{
            color: #e84b47;
          }
        }
      }
    }
    .home_header_right{
      width: 308px;
      height: 140px;
      background: gold;
      float: right;
      display: flex;
      .rating_item{
        width: 80px;
        height: 43px;
        background: darkgrey;
        flex: 1;


      }
    }

  }





}





//底部
.footer{
  position: relative;
  width: 1522px;
  //保障
  .ensure{
    width: 100%;
    height: 147px;
    //background-color: #cccccc;
    text-align: center;
    bottom: 0;
    >h2{
      font-size: 30px;
      font-family: "微软雅黑";
      font-weight: 800;
      margin-top: 20px;
      margin-bottom: 10px;
      transform: translateY(70px);
      >i{
        font-style: normal;
        color: #fb474f;
      }
    }
    >p{
      font-size: 22px;
      color: #3d3838;
      margin: 0;
      transform: translateY(70px);

    }
  }
  //服务选择
  .server_check{
    width: 100%;
    height: 66px;
    //background: lemonchiffon;
    text-align: center;
    .server_check_list{
      transform: translateY(20px);
      height: 46px;
      >span{
        padding: 0 20px;
        color: #1d1515;
        font-size: 18px;
        >img{
          vertical-align: bottom;
        }
      }
    }
  }
  //城市选择
  .city_server{
    position: relative;
    width: 100%;
    height: 170px;
    //background: darkcyan;
    .city{
      position: absolute;
      width: 1200px;
      height: 90px;
      //background: darkgrey;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
      .city_title{
        width: 74px;
        height: 26px;
        background: #fff;
        float: left;
        font-family: " 微软雅黑";
        font-size: 18px;
        font-weight: 700;
        &:hover{
          background: #23527c;
        }
      }
      .city_option{
        width: 1078px;
        height: 90px;
        float: right;
        font-size: 16px;
        color: #898989;
        text-align: center;
        font-weight: 200;
        cursor: pointer;
        font-family: "微软雅黑";
        >span{
          line-height: 29px;
          display: inline-block;
          width:98px;
          height: 29px;
          background-color: white;
          float: left;
          margin-bottom: 1px;
          &:hover{
            background: #337ab7;
          }
        }

      }
    }

  }
  //合作伙伴
}


//补充
.buchong{
  width: 1522px;
  background: #FBF8F8;
  .partner{
    width: 1200px;
    //height: 200px;
    //background: darkgrey;
    margin: 0 auto;
    .partner_pic{
      width: 1200px;
      height: 60px;
      //background: gold;
      >span{
        position: relative;
        float: left;
        display: block;
        width: 120px;
        height: 60px;
        background: #fff;
        text-align: center;
        &.partner_pic_first~span{
          margin-left: 15px;
        }
        img{
          position: absolute;
          width: 100px;
          height: 47px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
    >p:first-child{
      line-height:40px;
      font-weight: bold;
      width: 1200px;
      height: 40px;
      color: #1d1515;
      font-size: 18px;
    }
  }

  .beian{
    width: 1200px;
    //height: 40px;
    font-size: 14px;
    margin: 0 auto;
    line-height: 40px;
    color: #898989;
    //background: darkcyan;
    >p{
      margin: 0;
    }
  }

}